{% extends "base.html" %} 

{% block content %}

    <div class="container-fluid">
        <a type="button" class="btn btn-success" id="add-btn" href="{{url_for('books.add_book')}}">+</a>    
    </div>
    
    <div class="container">
        <div class="row">
            {% for book in books %} 
            <div class="column col-lg-3 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/book.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{book.titel}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{book.author}}</li>
                      <li class="list-group-item">{{book.isbn}}</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div> 
            {% endfor %}   
        </div>
    </div>       
  
{% endblock content %}
