{% extends "layout.html" %}

{% block content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Store hinzufügen
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Store hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
            <div class="modal-body">
                {{form.hidden_tag()}}
                <p>{{form.storename.label}}{{form.storename()}}</p><br>
                <p>{{form.adresse.label}}{{form.adresse()}}</p><br>
                <p>{{form.beschreibung.label}}{{form.beschreibung()}}</p>
                {{form.submit()}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" action="{{url_for('stores.add_store')}}">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<div class="container">
    {% for store in stores %} 
        <h4>{{ store.name }}</h4>
        <p>{{ store.adresse }}</p>
        <p>{{ store.beschreibung }}</p>
    {% endfor %}
</div>
    

{% endblock %}