{% extends "base.html" %} {% block content %}

<!-- ======= Cities Section ======= -->
<section class="cities">
  <div class="container text-center">
    <div class="d-flex flex-row align-items-center ">
      {% for city in cities %}
      <div class="city-names">
        <p><a href="{{url_for('stores.store_city', city=city[0])}}"><i class="fa-solid fa-city"></i>{{city[0]}}</a></p>
      </div>
      
    {% endfor %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary ms-auto" id="add-city-button" data-toggle="modal" data-target="#exampleModal">
      +
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
              {{form.hidden_tag()}}
              <h3 class="form-header">Store hinzufuegen</h3>
              <div class="form-group">
                {{form.storename.label()}}
                {{form.storename(class='form-control', placeholder="Musterladen")}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-8">
                    {{form.category.label()}}
                    {{form.category(class='form-control', placeholder="Kategorie")}}
                  </div>
                  <div class="col-4">
                    {{form.seats.label()}}
                    {{form.seats(class='form-control', placeholder="10")}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{form.storebild.label()}}
                {{form.storebild(class='form-control-data')}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    {{form.adresse.label()}}
                    {{form.adresse(class='form-control', placeholder="Musterstrasse 1")}}
                  </div>
                  <div class="col-6">
                    {{form.city.label()}}
                    {{form.city(class='form-control', placeholder="Musterstadt")}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{form.beschreibung.label()}}
                {{form.beschreibung(class='form-control', placeholder="Super Store mit leckerem Kaffee!")}}
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
            <a href="{{url_for('stores.add_store')}}"><button type="button" class="btn btn-primary">Store hinzufuegen</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<!-- ======= Navbar 2 section ======= -->
<section class="cards-section">
  <div class="container-fluid">
    <div class="row">
      {% for store in stores %}
      <div class="col-xl-3 col-md-4 col-sm-2">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='store_pics/' + store.store_bild )}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <span class="tag tag-teal">{{store.category}}</span>
            <h4 class="card-title">
              <a href="{{ url_for('stores.store', store_id=store.id)}}"
                >{{ store.storename }}</a
              >
            </h4>
            <p class="card-text">{{ store.adresse }}</p>
            <p class="card-text">{{ store.city }}</p>
          </div>
          <div class="user">
            <img
              src="{{url_for('static', filename='profile_pics/' + store.user.profile_picture)}}"
              alt="user"
            />
            <div class="user-info">
              <h5>{{store.user.username}}</h5>
              <small>3 days ago</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
