{% extends "base.html" %} 
{% block content %} 
{% if current_user.id == store.user_id %}

<!-- ======= Button Section ======= -->
<section class="edit-section">
  <div class="container-fluid">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Edit
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Store updaten</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            action="{{url_for('stores.edit_store',store_id=store_id)}}"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              {{form.hidden_tag()}}
              <p>{{form.storename.label}}{{form.storename()}}</p>
              <br />
              <p>{{form.storebild.label}}{{form.storebild()}}</p>
              <br />
              <p>{{form.adresse.label}}{{form.adresse()}}</p>
              <br />
              <p>{{form.beschreibung.label}}{{form.beschreibung()}}</p>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-success"
                action="{{url_for('stores.edit_store', store_id=store_id)}}"
              >
                Store updaten
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% if current_user.id == store.user_id %}
<form
  action="{{url_for('stores.delete_store', store_id=store_id)}}"
  method="POST"
>
  <button class="btn btn-danger" type="submit" value="Delete">Löschen</button>
</form>
{% endif %}
</section>


<section class="store">
  <div class="container">
    <div class="row">
      <!-- Carousel -->
      <div class="col-lg-6">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner shadow">
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='store_pics/' + store.store_bild )}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{store.storename}}</h4>
            <table>

                <p class="card-text">Adresse:</p>
                <p class="card-text">{{store.adresse}}</p>
                <p class="card-text">{{store.city}}</p>
              </tr>
              <tr>
                
              </tr>
            </table>
            <button class="btn btn-primary">Leseplatz buchen</button>
            <button class="btn btn-light">Kontakt</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
