{% extends "base.html" %} {% block content %}

<!-- ======= Button Section ======= -->
<section class="store py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="card-body">
                <h2 class="card-title-store">{{store.storename}}</h2>
              </div>
            </li>
            <li class="list-group-item">
              <div class="ratings">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i>
                <p>4.1</p>
                <span class="tag tag-teal">{{store.category}}</span>
              </div>
              <p>{{store.beschreibung}}</p>
            </li>
            <li class="list-group-item">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner shadow">
                  <div class="carousel-item active">
                    <img
                      src="{{ url_for('static', filename='store_pics/' + store.store_bild )}}"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <form action="" method="POST">
            {{form_2.hidden_tag()}}
            <div class="card-body">
              <h5 class="card-title">Leseplatz buchen</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Personen:
                {{form_2.people(class="form-control")}}
              </li>
              <li class="list-group-item">
                <label>Datum:</label>
                {{form_2.datum(class="form-control", type="date")}}
              </li>
              <li class="list-group-item">
                <label for="startTime">Uhrzeit:</label>
                {{form_2.uhrzeit(class="form-control", type="time")}}
              </li>
            </ul>
            <div class="card-body text-center">
              {{form_2.submit(class="btn btn-primary btn-block")}}
            </div>
          </form>
          
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kontakt</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="contact">
                <i class="fa-solid fa-phone"></i>
                <p class="mx-2">089/05959</p>
              </div>
            </li>
          </ul>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Adresse</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v153994375562"
                frameborder=""
              ></iframe>
            </li>
            <li class="list-group-item">
              <div class="contact"><i class="fa-solid fa-location-dot"></i><p class="mx-2">{{store.adresse}}, {{store.city}}</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
