<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Booknet</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e1f37d5ff7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <img class="navbar-brand" src="static/images/booknet_logo.png" href="{{url_for('stores.all_stores')}}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('stores.all_stores')}}">Stores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('books.book_search')}}">Books</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                src="{{url_for('static', filename='profile_pics/' + current_user.profile_picture)}}"
                class="rounded-circle"
                id="navbar-profilpic"
                height="25"
                alt="Profilbild"
                loading="lazy"
                />
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('users.user_bookshelves', 
                  username=current_user.username) }}"><i class="fa-solid fa-book"></i>Meine Bookshelves</a></li>
                <li><a class="dropdown-item" href="{{ url_for('users.user_stores', 
                  username=current_user.username) }}"><i class="fa-solid fa-store"></i>Meine Stores</a></li>
                <li><a class="dropdown-item" href="{{url_for('users.edit_user')}}"><i class="fa-solid fa-gear"></i>Einstellungen</a></li>
                <li><a class="dropdown-item" href="{{url_for('users.logout')}}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    




    
    <!-- Navbar -->

    {% block content %} 
    
    {% endblock %}

    <!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Unser Newsletter</h4>
          <p>
            Lorem Ipsum Dolor Lorem Ipsum Dolor.
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Anmelden"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Booknet GmbH</h3>
          <p>
            Maximilianstraße 1 <br />
            München, BY 81726<br />
            Deutschland <br /><br />
            <strong>Telefon:</strong>+49 123/456789<br />
            <strong>Email:</strong> info@example.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Über uns</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Leistungen</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">AGB</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Impressum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Unsere Städte</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Berlin</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">München</a>
            </li>
            <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Hamburg</a>
              </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Unsere Social Networks</h4>
          <p>Auf diesen Kanälen findest du uns:</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></i></a>
            <a href="#" class="google-plus"><i class="fab fa-github"></i></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Booknet</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Bootstrap   -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
</body>
</html>
