{% extends "layout.html" %} {% block content %}
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{url_for('core.index')}}"><img src="static/images/Book Net.png" alt="" class="logo"></a>
    </div>

    <nav class="navbar" id="navbar">
      <ul>
        <li>
          <a
            class="getstarted scrollto"
            href="{{ url_for('users.signup_user') }}"
            >Registrieren</a
          >
        </li>
        <li>
          <a class="login scrollto" href="{{ url_for('users.user_login') }}"
            >Login</a
          >
        </li>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Dein nächstes Buchabenteuer.</h1>
        <h2>
          Du bist auf der Suche nach einem entspannten Buchladen, in dem du tief in dein Lieblingsbuch eintauchen?
        </h2>
        <h2>
          Oder du suchst schlichtweg nur Inspiration für dein nächstes Buch? Dann bist bei uns genau richtig!
        </h2>
        <div>
          <a
            href="{{ url_for('users.signup_user') }}"
            class="btn-get-started scrollto"
            >Jetzt loslesen</a
          >
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="static/images/title_pic.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section  class="about" id="about">
    <div class="container">
      <div class="row justify-content-between">
        <div
          class="col-lg-5 d-flex align-items-center justify-content-center about-img"
        >
          <img
            src="static/images/book_store.jpg"
            class="img-fluid"
            alt=""
            data-aos="zoom-in"
          />
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Finde deinen neuen Lieblingsbuchladen</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Du möchtest gemütlich in deinen Lieblingsbüchern stöbern, hast aber keinen go-to Laden?
            <br> <b>Kein Thema, finde deinen neuen Lieblingsladen bei uns.</b> 
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Buchläden entdecken</h4>
              <p>
                Bei uns findest du über 200 "Hidden Gems", Buchläden mit Charme in sämtlichen 
                deutschen Großstädten.
              </p>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Buchläden hinzufügen</h4>
              <p>
                Dein Lieblingsbuchladen um die Ecke ist nicht dabei? Kein Problem, füge diesen einfach 
                unserem Netzwerk hinzu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Vorteile</h2>
        <p>Was DIR ermöglichen:</p>
      </div>

      <div class="row">
        <div
          class="col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Buchläden</a></h4>
            <p class="description">
              Finde bei uns ganz einfach deinen neuen Lieblingsbuchstore.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Austausch</a></h4>
            <p class="description">
              Tausche dich mit anderen Mitgliedern über dein Lieblingsbuch aus.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Bücher</a></h4>
            <p class="description">
              Auf der Suche nach einem neuen Buch? Lass dich von unserer Suche überzeugen.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Inspiration</a></h4>
            <p class="description">
              Durch unseren Algorithmus können wir dir wie kein zweiter Bücher empfehlen, die auf dich zugeschnitten sind.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team</h2>
            <p>Dein Buchexperten Team</p>
          </div>
            <div class="row pb-5 mb-4">
              <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                  <div class="card-body p-0"><img src="static/images/team/team1.jpg" alt="teammember1" class="w-100 card-img-top">
                    <div class="p-4">
                      <h5 class="mb-0">Anna Rockwell</h5>
                      <p class="small text-muted">CEO - Consultant</p>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                  <div class="card-body p-0"><img src="static/images/team/team2.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                      <h5 class="mb-0">Michelle Meyer</h5>
                      <p class="small text-muted">COO</p>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                  <div class="card-body p-0"><img src="static/images/team/team3.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                      <h5 class="mb-0">Celine Beckham</h5>
                      <p class="small text-muted">Head of Marketing</p>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                  <div class="card-body p-0"><img src="static/images/team/team4.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                      <h5 class="mb-0">Austin Mac</h5>
                      <p class="small text-muted">Head of Books</p>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>F.A.Q</h2>
        <p>Du hast Fragen?</p>
      </div>

      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
        <li>
          <div
            data-bs-toggle="collapse"
            class="collapsed question"
            href="#faq1"
          >
            In welchen Städten seid ihr aktiv?
            <i class="bi bi-chevron-down icon-show"></i
            ><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Wir sind aktuell in allen großen deutschen Städten vertreten.
            </p>
          </div>
        </li>

        <li>
          <div
            data-bs-toggle="collapse"
            href="#faq2"
            class="collapsed question"
          >
            Wie kann ich mein Passwort zurücksetzen?
            <i class="bi bi-chevron-down icon-show"></i
            ><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Unter Login -> Passwort vergessen. Wir senden dir dann eine Email.
            </p>
          </div>
        </li>

        <li>
          <div
            data-bs-toggle="collapse"
            href="#faq3"
            class="collapsed question"
          >
            Kostet mich die Mitgliedschaft etwas? <i class="bi bi-chevron-down icon-show"></i
            ><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nein, deine Mitgliedschaft bei Booknet ist komplett kostenfrei!
            </p>
          </div>
        </li>

        <li>
          <div
            data-bs-toggle="collapse"
            href="#faq3"
            class="collapsed question"
          >
            Wie kann ich meinen Account wieder löschen? <i class="bi bi-chevron-down icon-show"></i
            ><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Das geht ganz einfach unter deinen Profileinstellungen.
            </p>
          </div>
        </li>
    </div>
  </section>
  <!-- End F.A.Q Section -->

  <!-- ======= About Section ======= -->
  <section  class="about" id="about">
    <div class="container">
      <div class="row justify-content-between">
        <div
          class="col-lg-5 d-flex align-items-center justify-content-center about-img"
        >
          <img
            src="static/images/book_store.jpg"
            class="img-fluid"
            alt=""
            data-aos="zoom-in"
          />
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Voluptatem dignissimos provident quasi</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
            aute irure dolor in reprehenderit
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Corporis voluptates sit</h4>
              <p>
                Consequuntur sunt aut quasi enim aliquam quae harum pariatur
                laboris nisi ut aliquip
              </p>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Ullamco laboris nisi</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Presse</h2>
        <p>Über uns wird gesprochen:</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img
              src="static/images/bizinsider.png"
              class="img-fluid"
              alt="Business Insider Logo"
            />
          </div>
          <div class="col-lg-3">
            <img
                src="static/images/mashable.png"
                class="img-fluid"
                alt=""
            />
          </div>
          <div class="col-lg-3">
            <img
            src="static/images/TechCrunch.png"
            class="img-fluid"
            alt=""
            />
          </div>
          <div class="col-lg-3">
            <img
              src="static/images/bizinsider.png"
              class="img-fluid"
              alt="Business Insider Logo"
            />
          </div>
        </div>
      </div>
            
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Kontakt</h2>
        <p>Schreib uns eine Mail mit deinem Anliegen.</p>
      </div>

      <div class="row">
        <div
          class="col-lg-5 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Adresse:</h4>
              <p>Maximilianstraße 1, München</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Telefon:</h4>
              <p>+49 123/456789</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0"
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div
          class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Dein Name"
                  required
                />
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Deine Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Betreff</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Dein Anliegen"
                required
              />
            </div>
            <div class="form-group mt-3">
              <label for="name">Nachricht</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Deine Mail wurde verschickt!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Absenden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Us Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Unser Newsletter</h4>
          <p>
            Verpasse keine Neuigkeiten mehr von Booknet!
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Anmelden"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Booknet GmbH</h3>
          <p>
            Maximilianstraße 1 <br />
            München, BY 81726<br />
            Deutschland <br /><br />
            <strong>Telefon:</strong>+49 123/456789<br />
            <strong>Email:</strong> info@example.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Über uns</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Leistungen</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">AGB</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Impressum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Unsere Städte</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Berlin</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">München</a>
            </li>
            <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Hamburg</a>
              </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Unsere Social Networks</h4>
          <p>Auf diesen Kanälen findest du uns:</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></i></a>
            <a href="#" class="google-plus"><i class="fab fa-github"></i></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Booknet</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->

{% endblock %}
