{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <strong>Title</strong> -->
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div>

<form method="POST">
  {{ form.hidden_tag() }} {{ form.username.label }}{{ form.username ()}}
  <br />
  {{ form.email.label }}{{ form.email() }}
  <br />
  {{ form.passwort.label }}{{ form.passwort() }}
  <br />
  {{ form.passwort_bestätigen.label }}{{ form.passwort_bestätigen() }}
  <br />
  {{ form.submit() }}
</form>

{% endblock %}
