{% extends "base.html" %}

{% block content %}

<!-- ======= Cities Section ======= -->
<section class="cities">
  <div class="container text-center">
    <div class="d-flex flex-row align-items-center ">
      {% for city in cities %}
      <div class="city-names">
        <p><a href="{{url_for('stores.store_city', city=city[0])}}"><i class="fa-solid fa-city"></i>{{city[0]}}</a></p>
      </div>
      
    {% endfor %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary ms-auto" id="add-city-button" data-toggle="modal" data-target="#exampleModal">
      +
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form method="POST" action="{{url_for('stores.add_store')}}" enctype="multipart/form-data">
              {{form.hidden_tag()}}
              <h3 class="form-header">Store hinzufuegen</h3>
              <div class="form-group">
                {{form.storename.label()}}
                {{form.storename(class='form-control', placeholder="Musterladen")}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-8">
                    {{form.category.label()}}
                    {{form.category(class='form-control', placeholder="Kategorie")}}
                  </div>
                  <div class="col-4">
                    {{form.seats.label()}}
                    {{form.seats(class='form-control', placeholder="10")}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{form.storebild.label()}}
                {{form.storebild(class='form-control-data')}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    {{form.adresse.label()}}
                    {{form.adresse(class='form-control', placeholder="Musterstrasse 1")}}
                  </div>
                  <div class="col-6">
                    {{form.city.label()}}
                    {{form.city(class='form-control', placeholder="Musterstadt")}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{form.beschreibung.label()}}
                {{form.beschreibung(class='form-control', placeholder="Super Store mit leckerem Kaffee!")}}
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
            {{form.submit(class="btn btn-primary", placeholder="Store hinzufügen!")}}
          </div>
        </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>

<!-- ======= Cards Section ======= -->
<section class="stores pt-3">
  <div class="container">
    <div class="row pb-5">
      {% for store in stores %} 
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-3 d-flex align-items-stretch">
              <div class="card h-100 w-100">
                <a href="{{url_for('stores.all_stores')}}"><img src="{{ url_for('static', filename='store_pics/' + store.store_bild )}}" class="card-img-top" alt="Book image"></a>
              <div class="card-body d-flex flex-column">
                  <span class="tag tag-{{store.category}}">{{store.category}}</span>{% if (time_now - store.creation_date).days > 1 %}
                  <h5 class="card-title pt-2"><a href="{{ url_for('stores.store', store_id=store.id)}}">{{ store.storename }}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{store.city}}
                  </h6>
                    <p class="card-text">{{store.adresse}}</p> 
                    <small>vor {{(time_now - store.creation_date).days}} Tagen</small>
                    {% elif (time_now - store.creation_date).days == 1 %}
                      <small>vor {{(time_now - store.creation_date).days}} Tag</small>
                    {% elif ((time_now - store.creation_date).seconds ) // 3600 > 1 %}
                      <small>vor {{((time_now - store.creation_date).seconds ) // 3600 }} Stunden</small>
                    {% elif ((time_now - store.creation_date).seconds ) // 3600 == 1 %}
                      <small>vor {{((time_now - store.creation_date).seconds ) // 3600 }} Stunde</small>
                    {% elif ((time_now - store.creation_date).seconds ) // 60 % 60 > 1 %}
                      <small>vor {{((time_now - store.creation_date).seconds ) // 60 % 60 }} Minuten</small>
                    {% elif ((time_now - store.creation_date).seconds ) // 60 % 60 == 1 %}
                      <small>vor {{((time_now - store.creation_date).seconds ) // 60 % 60 }} Minute</small>
                    {% else %}
                    <small>gerade</small>
                    {% endif %} 
                </div>
                <div class="user-buttons p-2 ">
                  <button type="button" class="btn btn-secondary" id="edit_store_button" data-toggle="modal" data-target="#editStoreModal">
                    Bearbeiten
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="editStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form method="POST" action="{{url_for('stores.edit_store', store_id=store.id)}}" enctype="multipart/form-data">
                            {{form.hidden_tag()}}
                            <h3 class="form-header">Store bearbeiten</h3>
                            <div class="form-group">
                              {{form.storename.label()}}
                              {{form.storename(class='form-control', placeholder=store.storename)}}
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-8">
                                  {{form.category.label()}}
                                  {{form.category(class='form-control', placeholder="Kategorie")}}
                                </div>
                                <div class="col-4">
                                  {{form.seats.label()}}
                                  {{form.seats(class='form-control', placeholder=store.seats)}}
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              {{form.storebild.label()}}
                              {{form.storebild(class='form-control-data')}}
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-6">
                                  {{form.adresse.label()}}
                                  {{form.adresse(class='form-control', placeholder=store.adresse)}}
                                </div>
                                <div class="col-6">
                                  {{form.city.label()}}
                                  {{form.city(class='form-control', placeholder=store.city)}}
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              {{form.beschreibung.label()}}
                              {{form.beschreibung(class='form-control', placeholder=store.beschreibung)}}
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                          {{form.submit(class="btn btn-primary", value="Store updaten!")}}
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                  <a href="{{url_for('stores.delete_store', store_id=store.id)}}"><button class="btn btn-outline-danger">Löschen</button></a>
              </div> 
              </div>
            
        </div>  
      {% endfor %}
    </div>
  </div>
</section>

<!-- Pagination Links-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for page_num in stores.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
       {% if stores.page == page_num %}
       <li class="page-item disabled">
         <a class="page-link" href="{{ url_for('stores.all_stores', page=page_num) }}">{{ page_num }}</a></li>
       </li>
       {% else %}
         <li class="page-item"><a class="page-link" href="{{ url_for('stores.all_stores', page=page_num) }}">{{ page_num }}</a></li>
       {% endif %}
   {% endfor %}
 </nav>

{% endblock %}