{% extends "base.html" %}

{% block content %}

<section class="button-section">
  <div class="container d-flex justify-content-end py-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" hover="Bookshelf hinzufügen">+</button>
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Bookshelf hinzufügen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{{url_for('bookshelves.add_bookshelf')}}" method="POST">
              <div class="modal-body container justify-content-center">
                  {{form.hidden_tag()}}
                  <div class="row">
                    <div class="form-outline pb-2">
                      {{form.name(placeholder="Titel")}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-outline pb-2">
                      {{form.beschreibung(placeholder="Beschreibung")}}
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary" action="{{url_for('bookshelves.add_bookshelf')}}">Shelf hinzufügen</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 
<section class="bookshelves pt-3">
  <div class="container">
    <div class="row pb-5">
      {% for bookshelf in bookshelves %}  
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-3 d-flex align-items-stretch">
          <div class="card h-100 w-100">
            <a href="{{url_for('bookshelves.bookshelf', bookshelf_id=bookshelf.id)}}"><img src="{{ url_for('static', filename='images/book.jpg')}}" class="card-img-top" alt="Book image"></a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><a href="{{url_for('bookshelves.bookshelf', bookshelf_id=bookshelf.id)}}">{{ bookshelf.name }}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{bookshelf.beschreibung}}
              </h6>
            </div>
            <div class="user-buttons d-flex align-items-start p-2">
              <button type="button" class="btn btn-outline-success readingbutton me-2" data-toggle="modal" data-target="#">
                Bearbeiten
              </button>
              <form action="{{url_for('bookshelves.delete_bookshelf', bookshelf_id=bookshelf.id)}}" method="POST"><button class="btn btn-danger" type="submit">Löschen</button></form>
            </div>
          </div>  
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Pagination Links-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for page_num in bookshelves.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
       {% if bookshelves.page == page_num %}
       <li class="page-item disabled">
         <a class="page-link" href="{{ url_for('users.user_bookshelves', page=page_num, username=user.username) }}">{{ page_num }}</a></li>
       </li>
       {% else %}
         <li class="page-item"><a class="page-link" href="{{ url_for('users.user_bookshelves', page=page_num) }}">{{ page_num }}</a></li>
       {% endif %}
   {% endfor %}
 </nav>
  
{% endblock %}